<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script language="javascript" src="angular.min.js"></script>
    <script language="javascript" src="script.js"></script>
    <link src="css/xeditable.css" rel="stylesheet">
    <script src="js/xeditable.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<div ng-app="myCV" id="body" class="container" role="main">
    <div class="wrapper hp-nus-wrapper" ng-controller="Controller">
        <div id="global-error">
        </div>
        <div id="wrapper" class="  guided-edit-promo-profile premium-profile">
            <div id="top-card" data-li-template="top_card">
                <div class="profile-top-card top-card  follow influencer-enabled">
                    <div class="profile-card vcard">
                        <div class="profile-picture">
                            <img src="image/Sang.jpg" width="240" height="240" alt="Nguyễn Quang Sang">
                        </div>
                        <div class="profile-overview">
                            <div class="profile-overview-content">
                                <div id="member-22330283" class="masthead">
                                    <div data-li-template="p2_basic_info" ng-repeat="y in myData">


                                        <div id="name-container" data-li-template="name">
                                            <div id="name" class="editable-item">
                                                <h1><span class="fn"><span class="full-name" href="#" editable-text="y.name" dir="auto">{{y.name || "empty"}}</span></span></h1>
                                            </div>
                                        </div>
                                        <div id="headline-container" data-li-template="headline">
                                            <div id="headline" class="editable-item">
                                                <p class="title" href="#" editable-text="y.University" dir="ltr">{{y.University || "empty"}}</p>
                                            </div>
                                        </div>
                                        <div class="demographic-info adr editable-item" id="demographics">
                                            <div id="location-container" data-li-template="location">
                                                <div id="location" class="editable-item">
                                                    <dl>
                                                        <dt>Location</dt>
                                                        <dd><span class="locality" href="#" editable-text="y.Country"><a>{{y.Country || "empty"}}</a></span>
                                                        </dd>
                                                        <dt>Industry</dt>
                                                        <dd class="industry" href="#" editable-text="y.University1"><a>{{y.University1 || "empty"}}</a></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <table summary="Overview for Nguyễn Quang Sang">
                                            <tbody>
                                            <tr id="overview-summary-current">
                                                <th scope="row">
                                                    <a href="#background-experience" data-trk="prof-0-ovw-curr_pos">Current</a>
                                                </th>
                                                <td>
                                                    <ol>
                                                        <li>
                                                                <span>
                                                                    <strong>
                                                                        <a href="#" editable-text="y.Current">{{y.Current || "empty"}}h</a>
                                                                    </strong>
                                                                </span>
                                                        </li>
                                                    </ol>
                                                </td>
                                            </tr>
                                            <tr id="overview-summary-past">
                                                <th scope="row">
                                                    <a href="#background-experience" data-trk="prof-0-ovw-curr_pos">Previous</a>
                                                </th>
                                                <td>
                                                    <ol>
                                                        <li>
                                                                <span>
                                                                    <strong>
                                                                        <a href="#" editable-text="y.Previous">{{y.Previous || "empty"}}</a>
                                                                    </strong>
                                                                </span>
                                                        </li>
                                                    </ol>
                                                </td>
                                            </tr>
                                            <tr id="overview-summary-education">
                                                <th scope="row">
                                                    <a href="#background-experience" data-trk="prof-0-ovw-curr_pos">Education</a>
                                                </th>
                                                <td>
                                                    <ol>
                                                        <li>
                                                                <span>
                                                                    <strong>
                                                                        <a href="#" editable-text="y.HighSchool">{{y.HighSchool || "empty"}}</a>
                                                                    </strong>
                                                                </span>
                                                        </li>
                                                    </ol>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="profile" data-target-section="" class="">
                    <div id="background" class="profile-background">
                        <h2>Background</h2>
                        <div class="background-content ">
                            <div id="background-summary-container" class="background-section " data-li-template="summary_section">
                                <div id="background-summary" class="background-summary edit-default">
                                    <div class="summary-header">
                                        <img src="image/Hinh1.png">
                                        <h3>Summary</h3>
                                    </div>
                                    <div id="summary-item" class="editable-item section-item" ng-repeat="z in myData">
                                        <div id="summary-item-view">
                                            <div class="summary">
                                                <p class="description" dir="ltr" href="#" editable-text="z.des1">
                                                    {{z.des1 || "empty"}}<br>
                                                   </p>
                                                <p class="description" dir="ltr" href="#" editable-text="z.des2">
                                                    {{z.des2 || "empty"}}<br>
                                                </p>
                                                <p class="description" dir="ltr" href="#" editable-text="z.des3">
                                                    {{z.des3 || "empty"}}<br>
                                                </p>
                                                <p class="description" dir="ltr" href="#" editable-text="z.des4">
                                                    {{z.des4 || "empty"}}<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="background-experience-container" class="background-section" data-li-template="experience_section">

                                    <div id="background-experience" class="background-experience edit-default">
                                        <img src="image/Hinh2.png">
                                        <h3>Experience</h3>
                                        <div id="experience-58506340" class="editable-item section-item current-position" >
                                            <div id="experience-58506340-view" ng-repeat="x in myData">
                                                <header>
                                                    <h4 href="#" editable-text="x.exp1"><a>{{x.exp1 || "empty"}}</a></h4>
                                                    <h5 href="#" editable-text="x.exp2">
                                                        <strong><a>{{x.exp2 || "empty"}}</a></strong>
                                                    </h5>
                                                <span class="experience-date-locale" href="#" editable-text="x.exp3">
                                                    <time>{{x.exp3 || "empty"}}</time>
                                                </span>
                                                    <p class="description summary-field-show-more" dir="ltr" href="#" editable-text="x.exp5">
                                                        {{x.exp5 || "empty"}}
                                                </header>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="background-volunteering-container" class="background-section" data-li-template="volunteering_section">
                                    <div id="background-volunteering" class="background-volunteering">
                                        <img src="image/Hinh4.PNG">
                                        <h3>Projects</h3>
                                        <div id="volunteering-interests" class="editable-item section-item first" ng-repeat="i in myData">
                                            <div id="volunteering-causes-view" class="volunteer-section" >
                                                <div class="interests">
                                                    <h4>Causes Sang cares about:</h4>
                                                    <p class="description summary-field-show-more" dir="ltr" href="#" editable-text="i.proj">
                                                        {{i.proj || "empty"}}
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="background-skills-container" class="background-section" data-li-template="skills_section">
                                    <div id="background-skills" class="background-skills edit-default" ng-repeat="a in myData">
                                        <div class="hd">
                                            <img src="image/Hinh3.jpg">
                                            <h3>Skills</h3>
                                        </div>
                                        <div id="skills-item" class="editable-item">
                                            <div id="skills-item-view">
                                                <div id="profile-skills">
                                                    <h5>Top Skills</h5>
                                                    <ul class="skills-section">
                                                        <li data-endorsed-item-name="Business Strategy" class="endorse-item has-endorsements " data-endorsement-id="">
                                                        <span class="skill-pill">
                                                            <a class="endorse-count" role="button">
                                                                <span class="num-endorsements" data-count="242">99+</span>
                                                            </a>
                                                            <span class="endorse-item-name">
                                                                <a class="endorse-item-name-text" href="#" editable-text="a.sk">{{a.sk || "empty"}}</a>
                                                            </span>
                                                        </span>
                                                        </li>
                                                        <li data-endorsed-item-name="Business Strategy" class="endorse-item has-endorsements " data-endorsement-id="">
                                                        <span class="skill-pill">
                                                            <a class="endorse-count" role="button">
                                                                <span class="num-endorsements" data-count="242">99+</span>
                                                            </a>
                                                            <span class="endorse-item-name">
                                                                <a class="endorse-item-name-text" href="#" editable-text="a.sk">{{a.sk || "empty"}}</a>
                                                            </span>
                                                        </span>
                                                        </li>
                                                        <li data-endorsed-item-name="Business Strategy" class="endorse-item has-endorsements " data-endorsement-id="">
                                                        <span class="skill-pill">
                                                            <a class="endorse-count" role="button">
                                                                <span class="num-endorsements" data-count="242">99+</span>
                                                            </a>
                                                            <span class="endorse-item-name">
                                                                <a class="endorse-item-name-text" href="#" editable-text="a.sk">{{a.sk || "empty"}}</a>
                                                            </span>
                                                        </span>
                                                        </li>
                                                    </ul>
                                                    <h5>Sang also knows about...</h5>
                                                    <ul class="skills-section compact-view">
                                                        <li data-endorsed-item-name="Social Media" class="endorse-item has-endorsements " data-endorsement-id="">
                                                            <div>
                                                            <span class="skill-pill">
                                                                <a class="endorse-count" role="button">
                                                                    <span class="num-endorsements" data-count="65">65</span>
                                                                </a>
                                                                <span class="endorse-item-name">
                                                                    <a class="endorse-item-name-text" href="#" editable-text="a.sk">{{a.sk || "empty"}}</a>
                                                                </span>
                                                            </span>
                                                            </div>
                                                        </li>
                                                        <li data-endorsed-item-name="Social Media" class="endorse-item has-endorsements " data-endorsement-id="">
                                                            <div>
                                                            <span class="skill-pill">
                                                                <a class="endorse-count" role="button">
                                                                    <span class="num-endorsements" data-count="65">65</span>
                                                                </a>
                                                                <span class="endorse-item-name">
                                                                    <a class="endorse-item-name-text" href="#" editable-text="a.sk1">{{a.sk1 || "empty"}}</a>
                                                                </span>
                                                            </span>
                                                            </div>
                                                        </li>
                                                        <li data-endorsed-item-name="Social Media" class="endorse-item has-endorsements " data-endorsement-id="">
                                                            <div>
                                                            <span class="skill-pill">
                                                                <a class="endorse-count" role="button">
                                                                    <span class="num-endorsements" data-count="65">65</span>
                                                                </a>
                                                                <span class="endorse-item-name">
                                                                    <a class="endorse-item-name-text" href="#" editable-text="a.sk1">{{a.sk1 || "empty"}}</a>
                                                                </span>
                                                            </span>
                                                            </div>
                                                        </li>
                                                        <li data-endorsed-item-name="Social Media" class="endorse-item has-endorsements " data-endorsement-id="">
                                                            <div>
                                                            <span class="skill-pill">
                                                                <a class="endorse-count" role="button">
                                                                    <span class="num-endorsements" data-count="65">65</span>
                                                                </a>
                                                                <span class="endorse-item-name">
                                                                    <a class="endorse-item-name-text" href="#" editable-text="a.sk1">{{a.sk1 || "empty"}}</a>
                                                                </span>
                                                            </span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="background-education-container" class="background-section" data-li-template="education_section">
                                    <div id="background-education" class="background-education edit-default last">
                                        <img src="image/Hinh5.PNG">
                                        <h3>Education</h3>
                                        <div id="education-18832484" class="editable-item section-item" ng-repeat="c in myData">
                                            <div id="education-18832484-view" >
                                                <div class="education first">
                                                    <a>
                                                        <h5 class="education-logo" aria-hidden="true">
                                                            <strong>
                                                                <img class="lazy-load" src="image/Hinh6.png" alt="University Of Science" width="60" height="60">
                                                            </strong>
                                                        </h5>
                                                    </a>
                                                    <header>
                                                        <h4 class="summary fn org" dir="auto">
                                                            <a>University Of Science</a>
                                                        </h4>
                                                        <h5>
                                                            <span class="degree" href="#" editable-text="c.edu1">{{c.edu1 || "empty"}} </span>
                                                        <span class="major">
                                                            <a href="#" editable-text="c.edu2" >{{c.edu2 || "empty"}}</a>
                                                        </span>
                                                        </h5>
                                                    </header>
                                                <span class="education-date">
                                                    <time href="#" editable-text="c.edu3">{{c.edu3 || "empty"}}</time>
                                                    <time href="#" editable-text="c.edu4"> {{c.edu4 || "empty"}}</time>
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>